@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes marquee-hover {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-marquee-hover {
    animation: marquee-hover 5.5s linear infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(200%);
    }
}